<template>
  <div v-if="loanItem" class="text-h4 q-ma-xl text-capitalize">
    <q-btn  to="/payments" round icon="arrow_back" flat></q-btn>
    {{ loanItem.name}}
  </div>
  <div class="q-ma-lg row  q-gutter-md justify-center full-width" v-if="loanItem">
    <schedule-payments :rows="rows" :columns="columns">
      <template v-slot:body-cell-status="{item}">
        <q-td>
          <q-btn
            @click="updatePayment"
            class="q-pl-sm q-pr-sm"
            dense
            color="primary"
            unelevated
            no-caps
            :disable="item.status"
            :label="item.status?'Paid':'Pay Now'"></q-btn>
        </q-td>
      </template>
    </schedule-payments>
  </div>
</template>

<script>

import {mapActions} from 'vuex';
import SchedulePayments from "components/SchedulePayments";
import schedulePaymentsList from "src/mixins/schedulePaymentsList";

export default {
  name:'PaySchedulePayments',
  components: {SchedulePayments},
  mixins:[schedulePaymentsList],
  data(){
    return{
      loanItem: null,
      rows:[],
      userPurchasedLoans:null,
      currIndex: -1
    }
  },
  async created(){
    this.userPurchasedLoans = await this.fetchPurchasedLoanList();
    this.loanItem = await this.fetchLoanById(this.$route.params.id)
    if(!this.loanItem) return;
    this.calculateInterest();
    this.updateStatusValue()
    this.addPaymentStatusColumns();

  },
  methods:{
    ...mapActions({
      'fetchPurchasedLoanList':'loan/fetchPurchasedLoanList',
      'fetchLoanById':'loan/fetchLoanById'
    }),
    addPaymentStatusColumns(){
      this.columns.push(
        {
          name: 'status',
          align: 'left',
          label: 'Status',
          field: 'status',
        })
    },
    updateStatusValue(){
      this.currIndex = this.userPurchasedLoans.loan.findIndex(i => Number(i.id) === Number(this.$route.params.id));
      if(this.currIndex === -1) return;
      let count = this.userPurchasedLoans.loan[this.currIndex].repaymentsMadeCount;
      for(let i = 0; i < this.rows.length;i++){
        if(count > 0) {
          this.rows[i]['status'] = true;
          count--;
        }
        else this.rows[i]['status'] = false;
      }
    },
    updatePayment(){
      this.userPurchasedLoans.loan[this.currIndex].repaymentsMadeCount++;
      this.$q.notify({message:'Payment successful!', type:'positive'})
      this.updateStatusValue()
    }
  }
}
</script>
