<template>
  <div class="text-h4 q-ma-xl">Purchased Loans</div>
  <div class="q-mt-lg row justify-center">
    <div class="loan-card q-gutter-lg text-center full-width">
      <template v-for="(item,index) in loanList.loan" :key="index">
        <loan-item :loan-item="item">
          <template v-slot:loan-item-actions>
            <q-btn :to="`/payments/my-loan/${item.id}`"
                   color="primary"
                   flat unelevated
                   icon-right="keyboard_arrow_right">View Payments</q-btn>
          </template>
        </loan-item>
      </template>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {ref} from "vue";
import LoanItem from "components/LoanItem";

export default {
  name: "PurchasedLoanList",
  components: {LoanItem},
  setup(){
    const loanList = ref([])
    const loading = ref(true)
    return {loanList, loading}
  },
  async created(){
    this.loanList = await this.fetchPurchasedLoanList() || [];
    this.loading = false;
  },
  methods:{
    ...mapActions({
      fetchPurchasedLoanList:'loan/fetchPurchasedLoanList'
    })
  }
}
</script>

<style scoped>
.loan-card {
  width: 100%;
  max-width: 420px;
}
</style>
