<template>
  <q-card class="text-center q-pa-lg full-width" flat :bordered="$q.screen.gt.sm" >
    <q-card-section>
      <img class="q-pa-lg" src="~assets/logo/desktop.svg"/>
      <div class="text-h6">Login to your Aspire account</div>
    </q-card-section>
    <q-card-section>
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md"
      >
        <q-input
          v-model="loginCredentials.email"
          label="Email"
          outlined
          :rules="[val => val && new RegExp(constants.REGEX.email).test(val) || 'Pleas enter valid email']"
        />
        <q-input
          outlined
          type="password"
          v-model="loginCredentials.password"
          label="Enter password"
          :rules="[ val => val && val.length > 0 || 'Password cannot be empty']"
        />
        <div>
          <q-btn label="Login" type="submit" color="primary"/>
          <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>
<script>
import {reactive, ref} from "vue";
import constants from "src/utils/constants";
import {mapActions} from "vuex";

export default {
  name:'AuthLayout',
  setup(){
    const loginCredentials = reactive({
      email:'',
      password:''
    })
    const accept = ref(false)
    return {loginCredentials, constants, accept}
  },
  methods:{
    ...mapActions({
      'loginUser': 'auth/loginUser'
    }),
    async onSubmit() {
      const response = await this.loginUser({...this.loginCredentials})
      console.log('response', response );
      if(response) this.$router.push({name:'ApplyLoan'})
    },
    onReset(){
      console.log('reset')
    },
  }
}
</script>

