<template>
  <q-card class="text-center q-pa-lg full-width" flat :bordered="$q.screen.gt.sm" >
    <q-card-section>
      <img class="q-pa-lg" src="~assets/logo/desktop.svg"/>
      <div class="text-h6">See Aspire in Action</div>
    </q-card-section>
    <q-card-section>
      <q-form
        @submit="onSubmit"
        @reset="onReset"
      >
        <q-input
          outlined
          v-model="registerInfo.firstName"
          label="First Name"
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <q-input
          outlined
          v-model="registerInfo.lastName"
          label="Last name"
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <q-input
          v-model="registerInfo.email"
          label="Email"
          outlined
          :rules="[val => val && new RegExp(constants.REGEX.email).test(val) || 'Pleas enter valid email']"
        />
        <q-input
          v-model="registerInfo.mobile"
          label="Mobile Number"
          outlined
          type="tel"
          :rules="[val => val && new RegExp(constants.REGEX.mobile).test(val) || 'Pleas enter valid number']"
        />
        <q-input
          outlined
          type="password"
          v-model="registerInfo.password"
          label="Password"
          :rules="[ val => val && val.length > 0 || 'Enter password']"
        />
        <q-input
          outlined
          type="password"
          v-model="registerInfo.confirmPassword"
          label="Confirm password"
          :rules="[ val => val===registerInfo.password || 'Passwords do not match']"
        />
        <q-toggle v-model="accept" label="I accept the license and terms" />
        <div>
          <q-btn :disable="!accept" label="Sign up" type="submit" color="primary"/>
          <q-btn @click="onReset" label="reset" type="submit" color="primary"/>
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>
<script>
import { reactive, ref} from 'vue'
import {mapActions} from 'vuex';
import constants from "src/utils/constants";
export default {
  name:'AppRegister',
  setup(){
    const registerInfo = reactive({
      firstName:'',
      lastName:'',
      email:'',
      mobile:'',
      password:'',
      confirmPassword:'',
    })
    const accept = ref(false)
    return {
      registerInfo,
      accept,
      constants,
    }
  },
  methods:{
    ...mapActions({
      'registerUser' : 'auth/registerUser'
    }),
    async onSubmit(){
      const response = await this.registerUser({...this.registerInfo})
      if(response) this.$router.push({name:'LoanRegister'})
    },
    onReset(){

    }
  }
}
</script>

