<template>
  <div v-if="loanItem" class="text-h4 q-ma-xl text-capitalize">
    <q-btn to="/loans" round icon="arrow_back" flat></q-btn>
    {{ loanItem.name}}
  </div>
  <div class="q-ma-lg row  q-gutter-md justify-center full-width" v-if="loanItem">
    <schedule-payments :rows="rows" :columns="columns">
      <template v-slot:schedule-payments-actions>
        <q-card-actions align="right">
          <q-btn
            :disable="isPurchased"
            class="q-ma-sm"
            color="primary"
            unelevated @click="purchaseLoan">Purchase</q-btn>
        </q-card-actions>
      </template>
    </schedule-payments>
  </div>
</template>

<script>

import {mapActions} from 'vuex';
import SchedulePayments from "components/SchedulePayments";
import schedulePaymentsList from "src/mixins/schedulePaymentsList";

export default {
  name:'ApplyLoan',
  components: {SchedulePayments},
  mixins:[schedulePaymentsList],
  data(){
    return{
      loanItem: null,
      rows:[],
      isPurchased:false
    }
  },
  async created(){
    this.loanItem = await this.fetchLoanById(this.$route.params.id);
    if(!this.loanItem) return;
    this.calculateInterest()

  },
  methods:{
    ...mapActions({
      'fetchLoanById':'loan/fetchLoanById'
    }),
    purchaseLoan(){
      this.isPurchased = true;
      this.$q.notify({message:'Purchase successful!', type:'positive'})
    }
  }
}
</script>
