<template>
  <div class="text-h4 q-ma-xl">Personal Loans</div>
  <div class="q-mt-lg row justify-center">
    <div class="loan-card q-gutter-lg text-center full-width">
      <template v-for="(item,index) in loanList" :key="index">
          <loan-item :loan-item="item">
            <template v-slot:loan-item-actions>
              <q-btn :to="`/loans/${item.id}/apply`"
                     color="primary"
                     flat unelevated
                     icon-right="keyboard_arrow_right">Apply Loan</q-btn>
            </template>
          </loan-item>
      </template>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {ref} from "vue";
import LoanItem from "components/LoanItem";

export default {
  name: "LoanList",
  components: {LoanItem},
  setup(){
    const loanList = ref([])
    const loading = ref(true)
    return {loanList, loading}
  },
  async created(){
    this.loanList = await this.fetchLoanList() || [];
    this.loading = false;
  },
  methods:{
    ...mapActions({
      fetchLoanList:'loan/fetchLoanList'
    })
  }
}
</script>

<style scoped>
.loan-card {
  width: 100%;
  max-width: 420px;
}
</style>
