<template>
  <q-card bordered flat class="loan-item-card">
    <q-item class="q-pa-lg">
      <q-item-section>
        <q-item-label class="q-mb-sm text-subtitle1">{{ loanItem.name }}</q-item-label>
        <q-item-label class="q-mt-md" style="color: #325BAF" >Interest pm <b>{{ loanItem.interestPerMonth }}</b> </q-item-label>
        <q-item-label class="q-mt-md" style="color: #325BAF" >Repayment upto <b>{{ loanItem.repaymentMonths }} months</b> </q-item-label>
      </q-item-section>
      <q-item-section side top>
        <q-item-label class="text-h4 text-black">₹ {{ loanItem.amount.toLocaleString() }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator inset=""/>
    <q-card-actions align="right">
      <slot name="loan-item-actions"></slot>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: "LoanItem",
  props:{
    loanItem:{
      type:Object,
      default: () => {},
      required:true
    },
  }
}
</script>

<style scoped>
.loan-item-card{
  cursor: default;
}
</style>
