<template>
  <q-card bordered flat class="loan-item-card">
    <q-table title="Repayment Schedule" hide-bottom
             :pagination="{rowsPerPage: 100}"
             :rows="rows"
             :columns="columns"
             row-key="name"
    >
      <template v-slot:body-cell-status="props">
        <slot name="body-cell-status" v-bind:item="props.row"></slot>
      </template>
    </q-table>
    <slot name="schedule-payments-actions"></slot>
  </q-card>
</template>

<script>
export default {
  name: "SchedulePayments",
  props:{
    rows:{
      type:Array,
      default: () => [],
    },
    columns:{
      type:Array,
      default: () => [],
    }
  }
}
</script>
