.q-card {
  border-radius: 12px;
}

.route-enter-from{
  opacity: 0;
  transform: translateX(20px);
}
.route-enter-active{
  transition: ass 0.3s ease-out;
}
.route-leave-to{
  opacity:0;
  transform:translateX(-20px);
}
.route-leave-active{
  transition: all 0.3s ease-in;
}
