<template>
        <q-tabs>
          <q-route-tab
            no-caps
            v-for="(i,index) in sideNavItems"
                 :key="index"
                 :to="i.path"
                 active-class="active-menu">
            <img :src="i.icon"  />
            <div class="text-caption">{{i.value}}</div>
          </q-route-tab>
        </q-tabs>
</template>
<script>


import navbar from "src/mixins/navbar";

export default {
  name: "AppBottomNav",
  mixins:[navbar]
}
</script>

<style scoped>
.active-menu{
  color: #01D167
}
</style>
