<template>
  <div class="q-ma-xl">
      <img src="~assets/logo/desktop.svg"/>
      <div class="text-subtitle1 q-mt-sm" style="color: #FFFFFF; opacity: 30%">
        Trusted way of banking for 3,000+ SMEs and startups in Singapore.
      </div>
      <q-list padding class="text-white q-gutter-lg q-mt-xl text-subtitle1">
        <q-item
          v-for="(i,index) in sideNavItems"
          :key="index"
          :to="i.path"
          active-class="active-menu"
        >
          <q-item-section avatar>
            <img :src="i.icon"  />
          </q-item-section>
          <q-item-section>{{ i.value }}</q-item-section>
        </q-item>
        </q-list>
  </div>
</template>

<script>

import navbar from "src/mixins/navbar";

export default {
  name: "AppSidenav",
  mixins:[navbar]
}
</script>

<style scoped>
.active-menu{
  color: #01D167
}
</style>
