<template>
  <q-layout view="hHh lpR fFf">
    <q-page-container>
      <q-page class="row">
          <div class="col-xs-12 col-md-3 app-sidenav" v-if="$q.screen.gt.sm">
            <app-sidenav></app-sidenav>
          </div>
          <div class="col-md-9 col-xs-12">
            <router-view/>
          </div>
      </q-page>
    </q-page-container>
    <q-footer class="app-bottom-nav" elevated v-if="$q.screen.lt.md">
      <app-bottom-nav></app-bottom-nav>
    </q-footer>
  </q-layout>
</template>

<script>
import { ref } from 'vue'
import { defineAsyncComponent } from 'vue'
import AppBottomNav from "components/common/AppBottomNav";
const AppSidenav = defineAsyncComponent(()=> import("components/common/AppSidenav"))
export default {
  name:'AuthLayout',
  components: {
    AppBottomNav,
    AppSidenav,
  },
  setup () {
    const leftDrawerOpen = ref(true)
    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
}
</script>
<style>
.app-sidenav, .app-bottom-nav{
  background: #0C365A;
}
</style>
